body {
    font-family: 'Urbanist';
    margin: 0;
    background-color: #F5F5F5;
}

/*** Navbar styling ***/
nav {
    display: flex;
    flex-direction: row;
    gap: 42rem;
    height: 100px;
    width: 100%;
    background: rgba(3, 3, 3, 0.8);
    align-items: center;
}


/* Styling del logo */
.logo {
    width: 90px;
    height: auto;
    padding-left: 2rem;
}

nav img {
    width: 100%;
    border-radius: 25%;
    margin: auto 0;
    padding: 0;
}
/*** Listado de paginas en el navbar ***/
.lista ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.lista a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.lista li {
    list-style: none;
}

.lista a:hover {
    color: #FDCE27;
    cursor: pointer;
}

/*** Styling del contenido del header ***/
.contenido {
    padding: 0 2rem;
}

h1 {
    font-size: 40px;
}

.p_header {
    font-family: 'Voltaire';
    font-size: 20px;
}

hr {
    width: 50%;
    margin: 0;
    border: 1px solid;
}

/*** Styling del contenido de la pagina ***/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}
/* Contenedor de información */
.contenedor {
    display: flex;
    flex-direction: row;
    height: 305px;
    width: 80%;
    gap: 2rem;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    
}
/* Contenedor del video */
.contenido_video iframe {
    width: 500px;
    height: 304px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow: hidden;
}
/* Contenido del contenedor */
.contenido_contenedor {
    width: 80%;
    padding: 18px 10px 0 0;
}

.contenido_contenedor #deporte {
    color: red;
    font-weight: 700;
    margin-bottom: 11px;
}

.contenido_contenedor h2 {
    font-size: 30px;
    margin-top: 11px;
    padding-bottom: 10px;
}

/*** Styling del footer ***/
footer {
    height: 211px;
    background: rgba(3, 3, 3, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
/* Listado de paginas */
.lista_footer ul {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    gap: 1rem;
}

.lista_footer li {
    list-style: none;
}

.lista_footer a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 248, 243, 0.59);
    font-size: 15px;
}

.lista_footer a:hover {
    color: rgba(253, 206, 39, 0.59);
    cursor: pointer;
}
/* Styling del logo en el footer */
.logo_footer p {
    padding-right: 8rem ;
    font-weight: 700;
    color: rgba(255, 248, 243, 0.59);
    font-size: 12px;
}
/* Styling del logo en el footer */
.logo_footer img {
    padding-left: 0.5rem;
    width: 78px;
    border-radius: 25%;
    margin: auto;
}
